<h1>Welcome to Plungr!</h1>

<%= image_tag "plungr.png" %>

<div>
  <p>
    Plungr is the premier social sharing app for restroom graffiti. Share your lavatory one-liners, privy philosophy, water closet wisdom, and can cuss words with other visitors to your illustrious place of rest.
  </p>
</div>

<div>
  <h2>I'm sold, where to I sign up?</h2>
  <p>
    To register your stall with plungr, go <%= link_to "here", new_stall_path %>.
  </p>
</div>

<div id="menu">
  <%= link_to "Register a stall", new_stall_path %>
</div>

<div id="trending_plops">
</div>
