<div class="content">
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="#">plungr</a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#tour">Tour</a></li>
        <li><a href="#why">Why?</a></li>
        <li><a href="#try">Try it now!</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="splash">
    <div class="pure-g-r">
      <div class="pure-u-1-3">
        <div class="l-box splash-image">
          <img src="http://placehold.it/500x350">
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="l-box splash-text">
          <h1 class="splash-head">
            plungr is bathroom graffiti on the web
          </h1>
          <h2 class="splash-subhead">
            Become the sultan of the salle de bain
          </h2>
          <h3 class="splash-subhead">
            Plungr is the premier social sharing app for restroom graffiti. Become the sultan of the salle de bain. Share your lavatory one-liners, privy philosophy, water closet wisdom, and can cuss words with other visitors to your illustrious place of rest.
          </h3>
          <p>
          <%= link_to "Create a Stall", new_stall_path, :class => "pure-button primary-button" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="pure-g-r content-ribbon">
      <div class="pure-u-2-3">
        <div class="l-box">
          <h4 class="content-subhead">Some text goes here</h4>
          <h3>Wooooo more text wooooooooo girls wooooooooo</h3>
        </div>
      </div>
      <div class="pure-u-1-3">
        <div class="l-box">
          <img src="http://placehold.it/400x250">
        </div>
      </div>
    </div>
    <div class="pure-g-r content-ribbon">
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Feature heading</h3>
          <p>Talk about some stuff here GOOOOSE</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Feature heading</h3>
          <p>Talk about some stuff here GOOOOSE</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Feature heading</h3>
          <p>Talk about some stuff here GOOOOSE</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Feature heading</h3>
          <p>Talk about some stuff here GOOOOSE</p>
        </div>
      </div>
    </div>
    <div class="l-box ribbon">
      <h2>Leave your mark.</h2>
      <p><%= link_to "Create a Stall", new_stall_path, :class => "pure-button primary-button" %></p>
    </div>
  </div>
  <div class="footer">
    <p><strong>plungr</strong> was made with &#9829; by <a href="https://twitter.com/angusiguess">Angus Fletcher</a>, <a href="https://twitter.com/d_brenden">Brenden Doyle</a>, David Ackerson &amp; <a href="https://twitter.com/ianbishop">Ian Bishop</a></p>
    <p>
    <a href="https://twitter.com/planethatch"><img src="https://si0.twimg.com/profile_images/378800000470107237/fd788994cf2dbe1a69a954dac0220020.png" width="45" height="45"></a></p>
  </div>
</div>
