<%= form_for(@stall) do |f| %>
  <% if @stall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stall.errors.count, "error") %> prohibited this stall from being saved:</h2>

      <ul>
      <% @stall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Name Your Stall</label>
    <br> <%= f.text_field :name %>
  </div>
  
  <div class="actions">
    <input name="commit" type="submit" value="Get Your QR Code" class="pure-button new-button">
  </div>
<% end %>
