// Place all the styles related to the Stalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1.7em;
  background: #eee;
}

.l-box {
  padding: 1em;
}

.splash2-image {
  padding-left: 4em;
}

.splash2 {
  margin: 2em auto 0;
  padding: 3em 0.5em;
  background: #fd1a1a;
}

.splash2 .splash2-head {
  font-size: 1000%;
  margin: 0em 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  line-height: 1.2em;
  text-transform: uppercase;
}

.splash2 .splash2-subhead {
  color: white;
  font-weight: 400;
  font-family: 'Gudea', sans-serif;
  font-size: 250%;
  line-height: 1.4em;
}

.new-stall form {
  background: #fd1a1a;
  text-align: center;
}

.field {
  padding: 5em;
  margin: 5em;
}

.field label {
  color: white;
  font-size: 500%;
  margin-bottom: 2em;
  line-height: 3em;
}

.field input {
  background: #fd1a1a;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  border-bottom: 1px solid #d0dde9;
  border-radius: 0;
  box-shadow: none;
  border-color: #dee3ea;
  font-size: 300%;
  color: white;
  margin: 0;
  padding: 3px 6px;
  width: 75%;
  display: inline-block;
}

.field input:focus {
  outline: 0;
}

.new-button {
  background: white;
  color: #333;
  font-size: 300%;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2em;
}

.stall-content, .stall-content-body {
  padding: 1em 1em;
  font-size: 150%;
}

.stall-content-header {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.stall-content-name {
  margin: 0.5em 0 0;
}

.plop ul {
  list-style-type: none;
}

.plop li {
  display: block;
}

.plop li:nth-child(2n) {
  background: #eee;
}

blockquote {
  padding: 1em;
}

blockquote.pull-right {
  text-align: right;
}

blockquote.pull-right p {
  text-align: left;
}

blockquote.pull-right small {
  text-align: right;
  font-style: italic;
  color: #444;
}

blockquote p {
  margin-bottom: 0;
  line-height: 1.25em;
}
